<a href="https://colab.research.google.com/github/RujanBhuju/Data-Processing-and-Visualization/blob/main/exam%232.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CPSMA-4313-01

#Dr Jacob's Data Processing Visualization

#Exam:2

#Rujan Bhuju(268963)

In this project i will be Gathering the data from a fitbit provided on Kaggle and provided in the github repo for this course.

The link i will be using is  https://raw.githubusercontent.com/nurfnick/Data Viz/main/Activity Dataset V1.csv.

(A) Here, i will be Storing the data as a pandas dataframe. I will also Examine each datatype and comment on the appropriateness of each.

Importing the required library.

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

examining the datatypes.

In [20]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

(B) Removing the column that repeats the indexes and is ‘unnamed’ as a column.

In [21]:
df=df.drop(columns=["Unnamed: 0"])
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max(%)', 'aerobic(%)', 'anaerobic(%)',
       'intensive(%)', 'light(%)'],
      dtype='object')

(C) Cleaning the column names to remove the unit declaration, (%), using regular expressions. and also The column name should not have any trailing spaces after cleaning.

In [ ]:
df.columns=df.columns.str.replace('[%,(,)]', '')
df.columns=df.columns.str.strip()
df.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

(D) Converting ‘activity day’ column into a datetime format.

In [ ]:
df.activity_day=pd.to_datetime(df.activity_day)
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,30%_more,day_of_week
0,2022-01-01,Freestyle,9.30,77,123,0,18.88,168.54,138.30,NaN,...,112.5,122.0,103,19,28,2,7,50,0,Saturday
1,2022-01-01,Freestyle,3.44,96,55,0,29.65,125.92,292.81,NaN,...,111.0,122.0,100,42,28,2,29,88,0,Saturday
2,2022-01-01,Indoor Cycling,6.34,85,33,0,17.85,81.93,323.69,NaN,...,95.0,90.0,100,1,32,0,22,43,1,Saturday
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,7.966667,...,83.0,85.0,81,3,22,0,24,65,0,Saturday
4,2022-01-01,Open Water,8.99,36,131,0,25.83,64.55,342.89,NaN,...,138.0,166.0,110,7,0,5,21,88,0,Saturday

(E) Imputing ‘total steps’ by replacing the ‘NaN’s with an appropriate number of steps. and also Converting to appropriate datatype.

Using fillna to replace the 'NaN's with appropriate number of steps.

In [27]:
df.total_steps=df.total_steps.fillna(0)
df.total_steps=df.total_steps.astype(int)
df.head(10)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,7.966667,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
5,2022-01-01,Outdoor Cycling,5.47,117,144,0,2.20,43.47,291.67,NaN,NaN,NaN,142.0,177.0,107,44,45,15,57,39
6,2022-01-01,Indoor Cycling,6.28,66,378,0,10.65,23.83,253.84,NaN,NaN,NaN,85.0,90.0,80,34,32,0,44,23
7,2022-01-01,Outdoor Running,2.94,26,430,7618,10.59,131.93,334.72,6.733333,27:44,06:15,145.0,190.0,100,23,0,71,18,3
8,2022-01-01,Trail Run,2.87,26,465,2790,32.92,21.42,341.17,6.8,25:50,06:20,142.0,188.0,96,2,0,80,46,13
9,2022-01-01,Pool Swimming,3.91,23,99,0,33.15,169.30,206.97,NaN,NaN,NaN,132.5,175.0,90,22,20,15,28,20

The output shows that the N/A is replaced by 0 where there are no total steps.

#(F) Converting non-empty ‘avg pace’ into a float that is still representative of the information contained in the column.and Recalling that there are 60 seconds in one minute so 3:30 is equivalent to 3.5 minutes.

splitting the string from ":" to seperate hour and minute

In [24]:
date_format= df[df.avg_pace.notnull()]["avg_pace"].str.split(':')

In [25]:
hour,min = date_format.str[0], date_format.str[1]  
df.loc[df.avg_pace.notnull(),"avg_pace"]=hour.astype(float) + (min.astype(float) / 60)

Checking the final data type.

In [26]:
type(df.avg_pace[3])

float

(G) Grouping data by ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

In [ ]:
df.groupby("workout_type")["calories"].agg({"mean","median","count","std"})

                 median         std  count        mean
workout_type
Cricket           330.0  149.950609     93  307.548387
Freestyle         294.0  163.703768     96  278.552083
Indoor Cycling    306.0  156.633322     80  280.450000
Open Water        328.0  160.068499     91  296.747253
Outdoor Cycling   301.0  158.731263     85  299.129412
Outdoor Running   349.0  165.725080     81  301.469136
Pool Swimming     300.0  157.576703     94  283.414894
Trail Run         264.0  155.748533     90  267.966667
Treadmill         269.5  146.963352     98  278.142857
Trekking          280.5  151.034870     94  283.127660
Walking           270.5  157.287570     98  276.040816

(H) Creating an indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity.

first assuming that all the values are false and than setting up the required condition for true values.

In [ ]:
df["30%_more"]=0
df.loc[df.aerobic>=30,"30%_more"]=1
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,30%_more
0,2022-01-01,Freestyle,9.30,77,123,0,18.88,168.54,138.30,NaN,...,NaN,112.5,122.0,103,19,28,2,7,50,0
1,2022-01-01,Freestyle,3.44,96,55,0,29.65,125.92,292.81,NaN,...,NaN,111.0,122.0,100,42,28,2,29,88,0
2,2022-01-01,Indoor Cycling,6.34,85,33,0,17.85,81.93,323.69,NaN,...,NaN,95.0,90.0,100,1,32,0,22,43,1
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,7.966667,...,07:58,83.0,85.0,81,3,22,0,24,65,0
4,2022-01-01,Open Water,8.99,36,131,0,25.83,64.55,342.89,NaN,...,NaN,138.0,166.0,110,7,0,5,21,88,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,0,28.66,173.30,234.73,NaN,...,NaN,133.5,175.0,92,22,20,15,21,61,0
996,2022-02-14,Freestyle,9.48,61,219,0,9.23,114.34,109.32,NaN,...,NaN,103.0,122.0,84,18,28,2,17,86,0
997,2022-02-14,Freestyle,3.30,40,169,0,7.37,133.97,122.96,NaN,...,NaN,114.5,122.0,107,18,28,2,23,98,0
998,2022-02-14,Indoor Cycling,4.40,47,52,0,10.75,147.65,116.51,NaN,...,NaN,96.0,90.0,102,45,32,0,13,57,1
999,2022-02-14,Indoor Cycling,1.57,116,106,0,25.37,143.41,182.80,NaN,...,NaN,96.5,90.0,103,14,32,0,24,83,1

Computing Which day of the week (Monday, Tuesday, etc.) and ‘workout type‘ has the maximum of the ‘max cadence’

In [ ]:
df["day_of_week"]=df.activity_day.dt.day_name()
df.groupby("day_of_week")["max_cadence"].max()

day_of_week
Friday       347.81
Monday       348.96
Saturday     349.76
Sunday       346.43
Thursday     347.40
Tuesday      349.39
Wednesday    349.78
Name: max_cadence, dtype: float64

In [ ]:
df.groupby("workout_type")["max_cadence"].max()

workout_type
Cricket            331.36
Freestyle          347.81
Indoor Cycling     342.94
Open Water         349.76
Outdoor Cycling    346.40
Outdoor Running    348.80
Pool Swimming      349.78
Trail Run          341.55
Treadmill          349.66
Trekking           349.31
Walking            348.96
Name: max_cadence, dtype: float64

In [ ]:
df[df.max_cadence==df.max_cadence.max()][["day_of_week","workout_type","max_cadence"]]

    day_of_week   workout_type  max_cadence
726   Wednesday  Pool Swimming       349.78

The output shows the required day of the week is wednesday.

2.a) Approximately how long did you work on this exam?

  It took me approximately 3 hours to complete the exam. not all of my time was spent on coding, some of them were spent googling to find alternative methods.

b) Which was the hardest and easiest topic from this section?

  The hardest topic was to replace the Na with the appropriate steps because the other acitivity doesnot include steps so it was confusing. the easiest topic was to examining the data types.

c) which method of cleaning data should I have spent more instructional time on?

  The method of cleaning data that i would like to learn more would be replacing the data Using the DataFrame.applymap().

#“I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course."

#Resources

1) https://github.com/RujanBhuju/Data-Processing-and-Visualization/blob/main/Quiz15.ipynb

2) https://github.com/RujanBhuju/Data-Processing-and-Visualization/blob/main/Quiz17.ipynb

3) https://github.com/RujanBhuju/Data-Processing-and-Visualization/blob/main/quiz%2319.ipynb