<a href="https://colab.research.google.com/github/RujanBhuju/Data-Processing-and-Visualization/blob/main/Quiz4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CPSMA-4313-01

Dr Jacob's Data Processing Visualization

Rujan Bhuju(268963)

Input 1= Authenticating the database from google cloud.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

output1 = message appears as authenticated after the process.

Input2 = Pulling out the dataset from googleclode using bigquery and also setting the range of data to 5.

In [15]:
%%bigquery --project data-visualization-338800
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

Output2 = Displaying the dataset with only 5 sets of data.

Input3 = Computing the average time for a trip based on starting point from the dataset.

In [13]:
%%bigquery --project data-visualization-338800
SELECT 
  start_station_name, 
  AVG(duration_minutes) as Average_time_for_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name is not null 
GROUP BY start_station_name

                        start_station_name  Average_time_for_trip
0                         Zilker Park West              27.168259
1                  Toomey Rd @ South Lamar              28.115798
2          State Capitol @ 14th & Colorado              30.421842
3                         Waller & 6th St.              23.265843
4                               Pease Park              28.648889
..                                     ...                    ...
188  Republic Square @ Guadalupe & 4th St.              23.067313
189                             3rd & West              19.937466
190                               3rd/West              34.152547
191                          Nueces & 26th              16.805353
192                            26th/Nueces              24.521670

[193 rows x 2 columns]

Output3 = Displaying the list of the start station name with its average time for trip.

Input4 = Computing the number of trips starting at each of starting point.

In [16]:
%%bigquery --project data-visualization-338800
SELECT 
  start_station_name,
  COUNT(*) as total_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY total_trips DESC

           start_station_name  total_trips
0        21st & Speedway @PCL        72799
1        Riverside @ S. Lamar        40635
2    City Hall / Lavaca & 2nd        36520
3              2nd & Congress        35307
4        Rainey St @ Cummings        34758
..                        ...          ...
188           Marketing Event            4
189             Eeyore's 2018            2
190                    Stolen            1
191             Eeyore's 2017            1
192     cesar Chavez/Congress            1

[193 rows x 2 columns]

Output4 = Displaying the list of the start station name  with their total number of trips.